* {
	padding: 0;
	margin: 0;
	border: 0;
}
img {
	width: 80px;
	height: 80px;
}
.mainbody {
	overflow: hidden;
	margin: 20px;
	padding: 20px;
	border: 1px solid #999;
	background: #eee;
}
.team {
	float: left;
	padding: 20px;
	border: 1px solid #999;
	width: 160px;
	background: #fff;
}
.team img {
	float: left;
}
.team p {
	float: left;
	margin-left: 20px;
}
.introduction {
	margin-left: 222px;
    margin-right: 142px;
	padding: 20px;
	border: 1px solid #999;
	min-width: 110px;
	background: #fff;
}
.member {
	float: right;
	padding: 20px;
	padding-bottom: 0;
	border: 1px solid #999;
	width: 80px;
	background: #fff;
}
.member img {
	margin-bottom: 20px;
}
@media screen and (max-width: 615px) {
	.team, .member {
		position: relative;
		margin-left: 50%;
	}
	.team {
		overflow: hidden;
		float: none;
		left: -101px;
	}
	.member {
		float: none;
		margin-top: 20px;
		left: -61px;
	}
	.introduction {
		position: relative;
		top: 20px;
		margin: 0 auto;
	}
}